<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            namespace = '/froxy';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);


            socket.on('connect', function() {
                socket.emit('miners');
            });

            socket.on('miner_list', function(msg) {
                miner = JSON.parse(msg.data).miner;
                output = "";
                if (miner.length > 0) {
                    for (i = 0;i < miner.length;i++) output += "<b><a href=# id="+miner[i].id+">Miner "+miner[i].id+"</a></b> - "+miner[i].type+" <br>";
                }
                $('#miners').html(output);

                $("a").click(function(e){
                    var id = $(e.target).attr("id");
                    socket.emit('status',{data:id});

                 });
            });

            socket.on('miner_status', function(msg) {
               $("#status").html(msg.data);

            })


            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });


        });
    </script>
</head>
<body>
    Miners:
    <div id="miners"></div>

    <div id="status"></div>
</body>
</html>